# SPDX-FileCopyrightText: NONE
# SPDX-License-Identifier: CC0-1.0

\#*\#
*.tar.gz
*.tar.bz2
*.zip
*.7z
/win32
/win64
/linux
/linux-qt4
/linux-qt5
*~
/*.patch
/*.exe
/build
/debug-qt[0-9]
/release-qt[0-9]
/CMakeLists.txt.user
/all_languages.txt
/all_languages.yaml

# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

# QtCreator

/.qtcreator
*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
