[Desktop Entry]
Categories=Network;P2P;Qt;
Exec=torrent-file-editor %f
GenericName=Torrent File Editor
Comment=Edit and create .torrent files
Icon=torrent-file-editor
MimeType=application/x-bittorrent;
Name=Torrent File Editor
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=torrent-file-editor

Comment[ru]=Редактируйте и создавайте .torrent файлы
Keywords[ru]=торрент;редактор;создать;изменить;P2P;файл;
Comment[es]=Editar y crear archivos .torrent
Keywords[es]=torrent;editor;crear;modificar;P2P;archivo;
